{% extends 'base.html' %}
{% block title %}Update profile{% endblock %}
{% block menu_links %}
    <li><a href="{% url "profile" user_obj.pk %}">Back</a></li>
{#    <li><a href="#">Смена пароля</a></li>#}
{% endblock %}
{% block content %}
    <h1>Change information about user</h1>
    <form action="{% url 'change' user_obj.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/form.html' with form=form fields_only=True %}
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
{% endblock %}