{% extends 'base.html' %}
{% block title %}
    Confirm delete page
{% endblock %}
{% block content %}
    <h1>Delete review?</h1>
    <div class="info_block">
        <p class="info">Review: {{ review.text }}</p>
        <p class="info">Review author: {{ review.author.username }}</p>
        <form action="{% url 'delete_review' review.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="delete_button">Yes</button>
        </form>
        <div class="cancel">
            <a href="{% url 'index' %}" class="cancel_button">No</a>
        </div>
    </div>
{% endblock %}